* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: #333;
    overflow: hidden;
  }
  
  .login-container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-image: url("https://th.bing.com/th/id/OIP.EqYhF9mKjS5GS1HQx93D7AHaEP?w=626&h=358&rs=1&pid=ImgDetMain");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .login-box {
    background-color: #000000ad;
    border-radius: 16px;
    box-shadow: 0 10px 15px rgb(141 140 138 / 44%);
    width: 100%;
    max-width: 400px;
    padding: 40px 30px;
    text-align: center;
    position: relative;
  }
  
  .login-box h2 {
    font-size: 28px;
    font-weight: 700;
    color: #e63946;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: white;
  }
  
  .input-group input {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s;
  }
  
  .input-group input:focus {
    border-color: #e63946;
    box-shadow: 0 0 5px rgba(230, 57, 70, 0.2);
  }
  
  .btn-login {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #e63946;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .btn-login:hover {
    background-color: #d62828;
  }
  
  .signup-text {
    margin-top: 20px;
    font-size: 14px;
    color: white;
  }
  
  .signup-text a {
    color: #e63946;
    text-decoration: none;
    font-weight: 600;
  }
  
  .signup-text a:hover {
    text-decoration: underline;
  }
  
  .pizza-image {
    display: none;
  }
  
  .pizza-image img {
    width: 100%;
    height: auto;
    border-radius: 16px;
  }
  
  @media (min-width: 768px) {
  
    .pizza-image {
      display: block;
    }
  
    .pizza-image img {
      border-radius: 16px;
      height: 100%;
      object-fit: cover;
    }
  }
  